html {
    height: 100%;
}

p {
    font-size: 1rem;
    font-weight: 100;
    line-height: 1.75rem;
}

h2 {
    font-size: 2rem;
    color: darkblue;
}


/* NAVBAR */

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
    color: white;
}

#mainNavbar .navbar-brand {
    font-size: 1.5rem;
    font-weight: 100;
}

#mainNavbar .navbar-brand:hover {
    color: lightgray;
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: lightgray;
}

#mainNavbar .navbar-toggler {
    border-color: white;

}

#mainNavbar .navbar-toggler:hover{
    border-color: darkblue;
}

#mainNavbar .navbar-icon{
    color: white;

}

#mainNavbar .navbar-toggler:hover{
    color: darkblue;
}

/* NAVBAR SCROLLED */

.navbar.scrolled {
    background-color: white;
    transition: all,200ms;
}

#mainNavbar .nav-link.scrolled{
    color: black;
}

#mainNavbar .nav-link:hover.scrolled {
    color: lightgray;
}

#mainNavbar .navbar-brand.scrolled {
    color: black;
}

#mainNavbar .navbar-brand:hover.scrolled {
    color: darkblue;
}

#mainNavbar .navbar-toggler.scrolled {
    border-color: black;
}

#mainNavbar .navbar-toggler:hover.scrolled {
    border-color: darkblue;
}

#mainNavbar .navbar-icon.scrolled{
    color: black;

}

#mainNavbar .navbar-toggler:hover.scrolled{
    color: darkblue;
}

/* PAGE CONTENT */

.odd {
    background-color: #dddce4;
}

#header {
    background: url("../images/bldl.jpg");
    height: 100%;
    background-size: cover;
    background-position: center;
    color: white;
}

#projects {
    background: url("../images/presentation.jpg");
    height: 100%;
    background-size: cover;
    background-position: center;
    color: white;
}

#education {
    background: url("../images/education.jpg");
    height: 100%;
    background-size: cover;
    background-position: center;
    color: white;
}
#cases {
    background: url("../images/charts.jpg");
    height: 100%;
    background-size: cover;
    background-position: center;
    color: white;
}
#events {
    background: url("../images/events.jpg");
    height: 100%;
    background-size: cover;
    background-position: center;
    color: white;
}
