body, html {
    height: 100%;
    width: 100%;
    margin: 0rem;
}

p {
    font-size: 1rem;
    font-weight: 100;
    line-height: 1.75rem;
}

h2 {
    font-size: 3rem;
    color: darkblue;
}


/* NAVBAR */

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
}

#mainNavbar .navbar-brand {
    font-size: 1.5rem;
    font-weight: 100;
}

#mainNavbar .navbar-brand:hover {
    color: lightgray;
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: lightgray;
}

#mainNavbar .navbar-toggler {
    border-color: white;

}

#mainNavbar .navbar-toggler:hover{
    border-color: darkblue;
}

#mainNavbar .navbar-icon{
    color: white;

}

#mainNavbar .navbar-toggler:hover{
    color: darkblue;
}

/* NAVBAR SCROLLED */

.navbar.scrolled {
    background-color: white;
    transition: all,200ms;
}

#mainNavbar .nav-link.scrolled{
    color: black;
}

#mainNavbar .nav-link:hover.scrolled {
    color: lightgray;
}

#mainNavbar .navbar-brand.scrolled {
    color: black;
}

#mainNavbar .navbar-brand:hover.scrolled {
    color: darkblue;
}

#mainNavbar .navbar-toggler.scrolled {
    border-color: black;
}

#mainNavbar .navbar-toggler:hover.scrolled {
    border-color: darkblue;
}

#mainNavbar .navbar-icon.scrolled{
    color: black;

}

#mainNavbar .navbar-toggler:hover.scrolled{
    color: darkblue;
}

/* HOME PAGE CONTENT */

.odd {
    background-color: #ebeaf2;
}

.card {
    border: none;
}

#header {
    background: url("../images/bldl.jpg");
    height: 100%;
    background-size: cover;
    background-position: center;
    color: white;
}

#bcg {
    background: url("../images/BCG logo.JPG");
    height: 100%;
    background-size: cover;
    background-position: center;
    color: white;
}

#projects {
    background: url("../images/presentation.jpg");
    height: 100%;
    background-size: cover;
    background-position: center;
    color: white;
}

#education {
    background: url("../images/education.jpg");
    height: 100%;
    background-size: cover;
    background-position: center;
    color: white;
}
#cases {
    background: url("../images/charts.jpg");
    height: 100%;
    background-size: cover;
    background-position: center;
    color: white;
}
#events {
    background: url("../images/events.jpg");
    height: 100%;
    background-size: cover;
    background-position: center;
    color: white;
}

#rsm {
    background: url("../images/RSM logo.jpg");
    height: 100%;
    background-size: cover;
    background-position: center;
    color: white;
}

#ey {
    background: url("../images/EY logo.JPG");
    height: 100%;
    background-size: cover;
    background-position: center;
    color: white;
}

#kpmg {
    background: url("../images/KPMG logo.JPG");
    height: 100%;
    background-size: cover;
    background-position: center;
    color: white;
}

#pwc {
    background: url("../images/PWC logo.jpg");
    height: 100%;
    background-size: cover;
    background-position: center;
    color: white;
}

#customerExperience {
    background: url("../images/customerexperience.jpg");
    height: 100%;
    background-size: cover;
    background-position: center;
    color: white;
}

#softwareDevelopment {
    background: url("../images/softwareDevelopment.jpg");
    height: 100%;
    background-size: cover;
    background-position: center;
    color: white;
}

#economicAnalysis {
    background: url("../images/economicAnalysis.jpg");
    height: 100%;
    background-size: cover;
    background-position: center;
    color: white;
}

#businessDevelopment {
    background: url("../images/businessdevelopment.jpg");
    height: 100%;
    background-size: cover;
    background-position: center;
    color: white;
}
